<div id="header">
    <div class="container">
        <div class="row">
            <div class="logo col-md-3"><a href="/">SUPERCHAT</a></div>
            <div class ="menu col-md-6">

                {% if user %}
                    <div class="menu-el col-md-3"><a href="/room/allrooms">All Rooms</a></div>
                    <div class="menu-el col-md-3"><a href="/room/createroom">Create Room</a></div>
                    <div class="menu-el col-md-3"><a href="/home">My Rooms</a></div>
                {% endif %}
            </div>
            <div class ="auth col-md-3">
                {% if user %}

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        {{ user.userName }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/changeinfo">Change User Information</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/changepass">Change User Password</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/signout">Sign out</a></li>
                    </ul>
                </div>

                {% else %}
                    <div class="login col-md-5"><a href="/login">Sign in</a></div>
                    <div class="register col-md-5"><a href="/signup">Sign up</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
