{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}
<link rel="stylesheet" href="/stylesheets/home.css"/>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <div class="table-container">
        <div class="title text-center">{{ user.userName }} rooms</div>
        <table class="table">
            {% for room in rooms%}
            <tr>
                <td><a href="/rooms/room/{{ room.room_name }}">{{ room.room_name }}</a></td>
                <td>{{ room.room_descr }}</td>
                <td>
                    {% if room.password %}
                        Protected
                    {% else %}
                        Public
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/room/changeinfo/{{ room.room_name }}">Change Room Information</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/room/changepass/{{ room.room_name }}">Change Room Password</a></li>
                            <li role="presentation"><a class="delete" role="menuitem" tabindex="-1" href="#{{ room.room_name }}">Delete room</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}