{% extends 'common.html' %}

{% block title %}Edit user{% endblock %}
{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Change password</h1>

    <!-- show any messages that come back with authentication -->
    {% if message.length > 0 %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="/room/changepass/{{roomName}}" method="post">
        <div class="form-group">
            <label>New password</label>
            <div class="text-left">Leave blank to create public room</div>
            <input type="password" class="form-control" name="newpass">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

</div>
{% endblock %}