{% extends 'base.html' %}

{% block title %}Edit user{% endblock %}
{% block css %}
<link rel="stylesheet" href="/stylesheets/useredit.css"/>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Change user information</h1>

    <!-- show any messages that come back with authentication -->
    {% if message.length > 0 %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="/user/changeinfo/{{user.id}}" method="post">
        <div class="form-group">
            <label>New email</label>
            <input type="text" class="form-control" name="email">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

</div>
{% endblock %}